<!doctype html>
<html lang="en">
<head>
   {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Cuenta</title>
</head>
<body>
    <div class="container">
        <h1>Mi Cuenta</h1>
        <div class="section">
            <div class="section-title">Información Personal</div>
            <div class="section-content">
            <h3>Esta Seccion se encuentra en proceso de creacion...</h3>
            
                <p>Nombre: Sin Informacion</p> 
                <p>Correo electrónico: Sin correo</p>
                <p>Dirección: Sin Información</p>
                <p>Teléfono: Sin contacto</p>
                
            </div>
        </div>

        <div class="section">
            <div class="section-title">Historial de Pedidos</div>
            <div class="section-content">
                <table>
                    <tr>
                        <th>Número de Pedido</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Estado</th>
                    </tr>
                    <tr>
                        <td>000</td>
                        <td>00000000</td>
                        <td>00000</td>
                        <td>00000</td>
                    </tr>
                    <tr>
                        <td>0000</td>
                        <td>000000000</td>
                        <td>000000</td>
                        <td>00000</td>
                    </tr>
                    
                </table>
            </div>
        </div>

        <div class="section">
            <div class="section-title">Configuraciones</div>
            <div class="section-content">
                <form>
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" value="Null"><br><br>
                    
                    <label for="email">Correo electrónico:</label>
                    <input type="email" id="email" name="email" value="Null"><br><br>
                    
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="Null"><br><br>
                    
                    <input type="submit" value="Guardar cambios" class="button">
                </form>
            </div>
        </div>

        <a href="logout" class="logout-button">Logout</a>
    </div>
    
    <link rel="stylesheet" href="{% static 'css/micuenta.css' %}">
</body>
</html>