<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="head">
      
        <nav class="navbar">
            <a href="inicio">Inicio</a>
            <a href="nosotros">Nosotros</a>
            
        </nav>
    </div>
    <div class="container">
        <div class="form">
            <div class="contact-info">
                <h3 class="title">Mantengámonos en contacto</h3>
                <p class="text">Contáctenos completando el formulario.</p>
                <div class="info">
                    <div class="social-information">
                        <i class="fa fa-map-marker"></i>
                        <p>Chile, V Region, 504 Valparaiso</p>
                    </div>
                    <div class="social-information">
                        <i class="fa fa-envelope-o"></i>
                        <p>contact@music.com</p>
                    </div>
                    <div class="social-information">
                        <i class="fa fa-mobile-phone"></i>
                        <p>+56 9 73687258</p>
                    </div>
                </div>
                <div class="social-media">
                    <p></p>
                  
                </div>
            </div>
            <div class="contact-info-form">
                <span class="circle one"></span>
                <span class="circle two"></span>
                <form action="#" onclick="return false;" autocomplete="off">
                    <h3 class="title">Contáctenos</h3>
                    <div class="social-input-containers">
                        <input type="text" name="Nombre" class="input" placeholder="Nombre" />
                    </div>
                    <div class="social-input-containers">
                        <input type="email" name="email" class="input" placeholder="Email" />
                    </div>
                    <div class="social-input-containers">
                        <input type="tel" name="Telefono" class="input" placeholder="Telefono" />
                    </div>
                    <div class="social-input-containers textarea">
                        <textarea name="Mensaje" class="input" placeholder="Mensaje"></textarea>
                    </div>
                    <input type="submit" value="Enviar" class="btn" />
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
    
    </body>
<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-column">
          <h3>Enlaces</h3>
          <ul>
            <li><a href="inicio ">Inicio</a></li>
            <li><a href="Nosotros.html">Acerca de nosotros</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Contacto</h3>
          <ul>
            <li><i class="fas fa-map-marker-alt"></i> 5 Norte </li>
            <li><i class="fas fa-phone"></i> +56956101733</li>
            <li><i class="fas fa-envelope"></i> Solomusica.ayuda@gmail.com</li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Síguenos</h3>
          <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>Derechos de autor &copy; 2023 | Solo Musica</p>
      </div>
    </div>
  </footer>
  <link rel="stylesheet" href="{% static '/css/contacto.css' %}">
</body>
</html>