<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pagina pincipal</title>
</head>

<body>
 <div class="logo">
      <a class="logo" href="inicio">
       <img src="/static/img/Logo2.png" alt="logo" width="100" height="100">
     </a>
    </div>
<div clas="nombre">
{% if first_name %}
        <div>
            <h2>Welcome</h2>
            <h3>{{first_name}}</h3>
            <h4>{{last_name}}</h4>
        </div>


    {% endif %}
</div>
    
    <div class="nav">
        
        <div class="menu">
            <li><a href="contacto">contacto</a></li>
            <li><a href="catalogo">Catalogo</a></li>
            <li><a href="nosotros">Nosotros</a></li>
            {% if first_name %}
                <li><a href="micuenta">Mi Cuenta</a></li>
                <li><a href="carrito">Carrito</a></li>
                <li><a href="logout"><input type="submit">Logout</input></a></li>  
            {% else %}
                <li><a href="login">Login</a></li>
            {% endif %}

        </div>

    </div>
<link rel="stylesheet" href="{% static 'css/index.css' %}">

</body>
</html>