<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nosotros</title>
</head>
<body>
    <div class="head">

        <nav class="navbar">
            <a href="inicio">Inicio</a>
            <a href="catalogo">Productos</a>
            <a href="contacto">Contacto</a>
            
        </nav>

    </div>
    <h1>Nosotros</h1>

   <div class="presentacion">
    <p>Somos una empresa familiar dedicada a la venta de instrumentos musicales, equipos de audio profesional e iluminación.
        Nuestra empresa fue fundada como un sueño de nuestro padre y abuelo en el año 1982 , en Valparaíso. Con el tiempo hemos agrandado este sueño, hemos evolucionado, adaptado y adquirido experiencia basada en los años que tenemos dentro del rubro. Hoy contamos con un sólido equipo de profesionales , el respaldo garantizado de las mejores marcas del mercado, presencia en redes sociales y una página web activa.
        
        Mantenemos un stock variado de instrumentos musicales (cuerda, viento, percusión, folckloricos, mapuches, de banda, pianos y teclados, amplificación, home studio y más). Todos nuestros productos garantizan la mejor calidad ya que trabajamos con marcas profesionales que nos respaldan, tales como Ernie Ball, Yamaha, Casio, Alesis y Shure entre otras.
        
        Además, adaptándonos a la época hemos activado el marketing digital y ofrecemos nuestros productos a través de los principales marketplace del país como lo son Ripley, Falabella y Paris.cl, también somos parte de Mercado Público a través de Convenio de Marco.
        Con esfuerzo, hemos mantenido en el tiempo nuestra sucursal en Valparaíso pero recuerda que realizamos envíos a todo Chile continental.
        Nuestro compromiso es guiarte técnicamente y crear una propuesta acorde a tus necesidades y presupuesto, que tu experiencia de compra se vuelva cercana, siéntete libre de tomar esa decisión correcta ya que estaremos en todo momento para aclarar tus dudas.
        Si quieres realizar alguna petición especial, puedes escribirnos a Solomusica.ayuda@gmail.com</p>
    </div>


      
        
    </body>
    <footer class="footer">
        <div class="container">
          <div class="footer-content">
            <div class="footer-column">
              <h3>Enlaces</h3>
              <ul>
                <li><a href="inicio">Inicio</a></li>
                <li><a href="contacto.html">Contactanos</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Contacto</h3>
              <ul>
                <li><i class="fas fa-map-marker-alt"></i> 5 Norte </li>
                <li><i class="fas fa-phone"></i> +56956101733</li>
                <li><i class="fas fa-envelope"></i> Solomusica.ayuda@gmail.com</li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Síguenos</h3>
              <ul class="social-icons">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="footer-bottom">
            <p>Derechos de autor &copy; 2023 | Solo Musica</p>
          </div>
        </div>
      </footer>

    <link rel="stylesheet" href="{% static '/css/nosotros.css' %}">
</body>
</html>