<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carrito</title>
</head>
<body>
<nav class="navbar">
         <div class="logo">
      <a class="logo" href="inicio">
       <img src="/static/img/Logo2.png" alt="logo" width="50" height="50">
     </a>
    </div>
        <a href="inicio">Inicio</a>
        <a href="catalogo">Ir a catalogo</a> 
        <a href="{% url 'carrito_eliminar' %}" >Eliminar carrito</a> 
    </nav>
    <h1>Carrito</h1>
    {% if micarrito %}
    <span><h2>Total: ${{ total }}</h3>
    <span>
        <button>Pagar</button>
    </span>    
    {% for registro in micarrito %}
    <div class="wrapper">
        <div>
            
            <span><h2>{{registro.nombre}}</h4></span>
            <span><h4>Cantidad: {{registro.cantidad}}</h4></span>
            <span><h4>${{registro.monto}}</h4></span>
            <span><img src="data:image/jpeg;base64,{{registro.imagen}}"  width="20%" height="60%" /></span>
        </div>
    </div>

    

    {% endfor %}
    
    {% else %}
    <h3>Su carrito esta vacio</h3>
{% endif%}

<link rel="stylesheet" href="{% static '/css/carrito.css' %}">
</body>
</html>