<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>
<body>
    <h1>Catalogo</h1>
    <a href="crearinstrumento">Ingresar instrumentos</a>

    <div id="carrito-overlay">
        <div id="carrito">
            <a href="{% url 'carrito_eliminar' %}" >Eliminar carrito</a>
            <ul id="lista-carrito"></ul>
          <p id="total-carrito"></p>
          <a href="{% url 'carrito_micarrito' %}" >Ir a mi carro de compras</a>
        </div>
      </div>
     

            {% if instrumentos %}
                {% for registro in instrumentos %}
                <div class="wrapper">
                    <div>
                        <span><h4>{{registro.name}} Precio: ${{registro.precio}}</h4></span>
                        <span><img src="data:image/jpeg;base64,{{registro.img}}" alt="{{registro.name}}" width="25%" height="60%" /></span>
                        
                        <a href="{% url 'carrito_agregar' registro.id %}" >al carrito</a>
                        <a href="{% url 'eliminar_instrumento' registro.id %}" >Eliminar</a>
                    </div>
                </div>



                {% endfor %}
                
            {% endif%}
    <link rel="stylesheet" href="{% static '/css/catalogo.css' %}">
    <script src="{% static 'localStorage.js' %}"></script>


</body>
</html>