<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>productos</title>
</head>
<body>

    <nav class="navbar">
        <div class="logo">
      <a class="logo" href="inicio">
       <img src="/static/img/Logo2.png" alt="logo" width="50" height="50">
     </a>
    </div>
        <a href="inicio">inicio</a>
        <a href="crearinstrumento">Ingresar instrumentos</a>
        <div id="carrito">
            
            <ul id="lista-carrito"></ul>
          <p id="total-carrito"></p>
          <a href="{% url 'carrito_micarrito' %}" >Ir a mi carro de compras</a>
        </div>
    </nav>
                
    <div id="carrito-overlay">
       <h1>Catalogo</h1> 
      </div>
     

            {% if instrumentos %}
                {% for registro in instrumentos %}
                <div class="wrapper">
                    <div>
                        <span><h4>{{registro.name}} Precio: ${{registro.precio}}</h4></span>
                        <span><img src="data:image/jpeg;base64,{{registro.img}}" alt="{{registro.name}}" width="25%" height="60%" /></span>
                        
                        <a href="{% url 'carrito_agregar' registro.id %}" >al carrito</a>
                        <a href="{% url 'eliminar_instrumento' registro.id %}" >Eliminar</a>
                    </div>
                </div>



                {% endfor %}
                
            {% endif%}
    
</body>

<footer class="footer">
        <div class="container">
          <div class="footer-content">
            <div class="footer-column">
              <h3>Enlaces</h3>
              <ul>
                <li><a href="inicio">Inicio</a></li>
                <li><a href="contacto">Contacto</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Contacto</h3>
              <ul>
                <li><i class="fas fa-map-marker-alt"></i> 5 Norte </li>
                <li><i class="fas fa-phone"></i> +56956101733</li>
                <li><i class="fas fa-envelope"></i> Solomusica.ayuda@gmail.com</li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Síguenos</h3>
              <ul class="social-icons">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="footer-bottom">
            <p>Derechos de autor &copy; 2023 | Solo Musica</p>
          </div>
        </div>
</footer>
 <link rel="stylesheet" href="{% static '/css/catalogo.css' %}">
    <script src="{% static 'localStorage.js' %}"></script>  
</html>